  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script src="./js/main.js"></script>
  <script>
    $('.slider').slick({
      autoplay: true,
      fade: true,
      speed: 800,
      autoplaySpeed: 2000, //表示間隔
      pauseOnHover: false,
      slidesToShow: 1,
      dots: false,
      arrows: false
    });
  </script>
  </body>
</html>
