<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
  <title>T's Mobile</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header class="globalHeader">
    <a class="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <nav class="globalNavigation">
      <ul>
        <li><a href="/">Top</a></li>
        <li><a href="about.html">About us</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="scene.html">T's Scene</a></li>
        <li><a href="shop.html">Shop list</a></li>
      </ul>
    </nav>

    <p><small>Copyright ©︎T's mobile,co.ltd All Rights Reserved.</small></p>
  </header>
