<% include _header %>

<main>
  <article class="about">
    <div class="aboutIntro">
      <h1><img src="./images/about/ttl_about.svg" alt="日本一のソファをめざして"></h1>
      <p>世界の高級ブランドソファと肩を並べる「上質な日本一のソファを作りたい」という高い目標を掲げて、私たちティーズ・モービレはソファメーカーとして2000年に創業。イタリアの高級ブランドからライセンスを受けるなど、独自の技術を確立し誕生したそのソファは、デザイン設計、素材選び、座り心地、耐久性も追求を重ねた国内最高水準を自負するクオリティを実現。創業まもなく首都圏のライフスタイルショップへの供給をスタートし、現在まで全国約150店におよそ2万台を出荷しています。
      ぜひ、お近くのオフィシャルショップまたは、取扱店でプレミアムなソファをお確かめ下さい。</p>

      <p><img src="./images/about/txt_about.svg" alt="T's mobile SOFA"></p>
    </div>

    <article class="aboutOutline">
      <h2><img src="./images/about/ttl_aboutOutline.svg" alt="会社概要"></h2>

      <div class="container">
        <dl>
          <dt>会社名</dt>
          <dd>株式会社ティーズモービレ<span><img src="./images/about/img_logo.svg" alt=""></span></dd>
          <dt>所在地</dt>
          <dd>〒924-0057　石川県白山市松本町1114</dd>
          <dt>代表取締役</dt>
          <dd>越村 武史</dd>
          <dt>創業</dt>
          <dd>2000年7月14日</dd>
          <dt>資本金</dt>
          <dd>400万円</dd>
        </dl>
        <dl>
          <dt>従業員数</dt>
          <dd>37名</dd>
          <dt>業務内容</dt>
          <dd>家具の製造・販売</dd>
          <dt>取引先</dt>
          <dd>約100店舗</dd>
          <dt>直営店</dt>
          <dd>GRAVITA (<a href="http://www.gravita-s.com">www.gravita-s.com</a>)</dd>
        </dl>
      </div>
    </article>
  </article>
</main>

<% include _footer %>
