<% include _header %>

<main>
  <article class="advertising">
    <h1><img src="./images/advertising/ttl_advertising.svg" alt="掲載広告"></h1>

    <ul>
      <li>
        <a href="./images/advertising/img_advertising001.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/advertising/img_advertising001.jpg" alt="">
            <figcaption>2017.05 / モダンリビング 228号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="./images/advertising/img_advertising002.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/advertising/img_advertising002.jpg" alt="">
            <figcaption>2017.05 / モダンリビング 231号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/advertising/img_advertising003.jpg" alt="">
            <figcaption>2017.01 / 産経新聞(東京23区版)掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/advertising/img_advertising004.jpg" alt="">
            <figcaption>2017.01 / モダンリビング 230号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/advertising/img_advertising005.jpg" alt="">
            <figcaption>2016.11 / モダンリビング 229号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/advertising/img_advertising006.jpg" alt="">
            <figcaption>2016.09 / モダンリビング 228号掲載</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </article>
</main>

<% include _footer %>
