<% include _header %>

<ul class="slider">
  <li style="background-image: url('./images/slide/bg_top001.jpg')"><a href="about.html"></a></li>
  <li style="background-image: url('./images/slide/bg_top002.jpg')"><a href="about.html"></a></li>
  <li style="background-image: url('./images/slide/bg_top003.jpg')"><a href="about.html"></a></li>
</ul>

<% include _footer %>
