<% include _header %>

<main>
  <article class="media">
    <h1><img src="./images/media/ttl_media.svg" alt="掲載広告"></h1>

    <ul>
      <li>
        <a href="./images/media/img_media001.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/media/img_media001.jpg" alt="">
            <figcaption>2017.05 / モダンリビング 228号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="./images/media/img_media002.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/media/img_media002.jpg" alt="">
            <figcaption>2017.05 / モダンリビング 231号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/media/img_media003.jpg" alt="">
            <figcaption>2017.01 / 産経新聞(東京23区版)掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/media/img_media004.jpg" alt="">
            <figcaption>2017.01 / モダンリビング 230号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/media/img_media005.jpg" alt="">
            <figcaption>2016.11 / モダンリビング 229号掲載</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="">
          <figure>
            <img src="./images/media/img_media006.jpg" alt="">
            <figcaption>2016.09 / モダンリビング 228号掲載</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </article>
</main>

<% include _footer %>
