<% include _header %>

<main>
  <article class="scene">
    <h1><img src="./images/media/ttl_media.svg" alt="掲載広告"></h1>

    <ul>
      <li>
        <!-- data-rel属性を使うことで、モダールで開くようになります -->
        <a href="./images/sample/img_sample001.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/sample/img_sample001.jpg" alt="">
          </figure>
          <figcaption>ここに説明文が入ります</figcaption>
        </a>
      </li>

      <li>
        <!-- youtubeをインラインで再生する場合、URLの記述に注意 -->
        <a href="//www.youtube.com/embed/6v2L2UGZJAM?version=3" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/sample/img_sample002.jpg" alt="">
          </figure>
          <figcaption>ここに説明文が入ります</figcaption>
        </a>
      </li>
    </ul>
  </article>
</main>

<% include _footer %>
