<% include _header %>

<main>
  <article class="scene">
    <h1><img src="./images/media/ttl_media.svg" alt="掲載広告"></h1>

    <ul>
      <li>
        <a href="./images/sample/img_sample001.jpg" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/sample/img_sample001.jpg" alt="">
          </figure>
          <figcaption>ここに説明文が入ります</figcaption>
        </a>
      </li>

      <li>
        <a href="https://youtu.be/hh2p9sZI_Rw" data-rel="lightcase:myScene">
          <figure>
            <img src="./images/sample/img_sample002.jpg" alt="">
          </figure>
          <figcaption>ここに説明文が入ります</figcaption>
        </a>
      </li>
    </ul>
  </article>
</main>

<% include _footer %>
