<% include _header %>

<main>
  <article class="shop">
    <h1><img src="./images/shop/ttl_shop.svg" alt=""></h1>

    <ul>
      <li>
        クラブエイトスタジオ
        <span>岩手県盛岡市東安庭2丁目7-9</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        kirinoya
        <span>栃木県下都賀郡壬生町壬生甲3848</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        arterlor
        <span>群馬県高崎市緑町4-11-10</span>
      </li>
      <li>
        Sofas ひたちなか店
        <span>茨城県ひたちなか市新光町35 2F</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Sofas 本店
        <span>東京都渋谷区神宮前3-38-14 1F</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        RAM
        <span>東京都品川区二葉3-22-2</span>
      </li>
      <li>
        TIMBER YARD
        <span>千葉県千葉市美浜区新港117</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        sin
        <span>新潟県新潟市南区茨曽根2574</span>
      </li>
      <li>
        塩田家具
        <span>長野県上田市本郷809-1</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        GRAVITA金沢
        <span>石川県野々市市三納1-37-1</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        折々ギャラリー
        <span>静岡県浜松市東区子安町316-1</span>
      </li>
      <li>
        Vigore 中川店
        <span>愛知県名古屋市中川区好本町1-107</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Vigore 名東店
        <span>愛知県名古屋市名東区陸前町26</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Room+
        <span>三重県鈴鹿市白子町2936-1</span>
      </li>
      <li>
        GRAVITA京都
        <span>京都府京都市中京区中白山町268-1 1F</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Sofas 大阪店
        <span>大阪府大阪市中央区高麗橋1-7-3 1F</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        奥田家具
        <span>鳥取県鳥取市気高町新町2-58</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        坂光家具
        <span>広島県広島市西区商工センター3-3-18</span>
      </li>
      <li>
        NOGAMI
        <span>愛媛県松山市三番町7丁目3-13</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Y’s DAY
        <span>熊本県熊本市南区川尻2-5-1</span>
        <a href="">≫サイトを見る</a>
      </li>
      <li>
        Daisy
        <span>鹿児島県鹿児島市加治屋町9-32 1F</span>
        <a href="">≫サイトを見る</a>
      </li>
    </ul>
  </article>
</main>

<% include _footer %>
